version: '2.3'

x-php: &php
  init: true
  depends_on:
    db:
      condition: service_healthy
    redis:
      condition: service_started
    elasticsearch:
      condition: service_healthy
    xray:
      condition: service_started
    mailhog:
      condition: service_started
  image: humanmade/altis-local-server-php:3.2.0
  links:
    - "db:db-read-replica"
    - "s3:s3.localhost"
    - "s3:s3-${COMPOSE_PROJECT_NAME:-default}.s3.localhost"
  external_links:
    - "proxy:${COMPOSE_PROJECT_NAME:-default}.altis.dev"
    - "proxy:pinpoint-${COMPOSE_PROJECT_NAME:-default}.altis.dev"
    - "proxy:cognito-${COMPOSE_PROJECT_NAME:-default}.altis.dev"
    - "proxy:elasticsearch-${COMPOSE_PROJECT_NAME:-default}.altis.dev"
    - "proxy:s3-${COMPOSE_PROJECT_NAME:-default}.altis.dev"
  volumes:
    - "${VOLUME}:/usr/src/app:delegated"
    # Use zzz as a prefix to ensure the php.ini overrides are loaded last
    - "${PWD}/php.ini:/usr/local/etc/php/conf.d/zzz-altis.ini"
    - socket:/var/run/php-fpm
  networks:
    - proxy
    - default
  environment:
    COMPOSE_PROJECT_NAME: ${COMPOSE_PROJECT_NAME:-default}
    HOST_PATH: ${VOLUME}
    DB_HOST: db
    DB_READ_REPLICA_HOST: db-read-replica
    DB_PASSWORD: wordpress
    DB_NAME: wordpress
    DB_USER: wordpress
    REDIS_HOST: redis
    REDIS_PORT: 6379
    WP_DEBUG: 1
    WP_DEBUG_DISPLAY: 0
    PAGER: more
    HM_ENV_ARCHITECTURE: 'local-server'
    HM_DEPLOYMENT_REVISION: 'dev'
    ELASTICSEARCH_HOST: elasticsearch
    ELASTICSEARCH_PORT: 9200
    AWS_XRAY_DAEMON_HOST: xray
    S3_UPLOADS_ENDPOINT: https://altis.dev/
    S3_UPLOADS_BUCKET: s3-${COMPOSE_PROJECT_NAME:-default}
    S3_UPLOADS_BUCKET_URL: https://s3-${COMPOSE_PROJECT_NAME:-default}.altis.dev
    S3_UPLOADS_KEY: admin
    S3_UPLOADS_SECRET: password
    S3_UPLOADS_REGION: us-east-1
    TACHYON_URL: https://${COMPOSE_PROJECT_NAME:-default}.altis.dev/tachyon
    PHP_SENDMAIL_PATH: /usr/sbin/sendmail -t -i -S mailhog:1025
    ALTIS_ANALYTICS_PINPOINT_ENDPOINT: https://pinpoint-${COMPOSE_PROJECT_NAME:-default}.altis.dev
    ALTIS_ANALYTICS_COGNITO_ENDPOINT: https://cognito-${COMPOSE_PROJECT_NAME:-default}.altis.dev
    # Setting required for minimal config in PHPStorm
    PHP_IDE_CONFIG: serverName=${COMPOSE_PROJECT_NAME:-default}.altis.dev
    # Enables XDebug for all processes and allows setting remote_host externally for Linux support
    XDEBUG_CONFIG: idekey=${COMPOSE_PROJECT_NAME:-default}.altis.dev remote_host=${XDEBUG_REMOTE_HOST:-host.docker.internal}

x-analytics: &analytics
  ports:
    - "3000"
  networks:
    - proxy
    - default
  restart: unless-stopped

services:
  db:
    image: mysql:5.7
    volumes:
      - "db-data:/var/lib/mysql"
    ports:
      - "3306"
    environment:
      MYSQL_ROOT_PASSWORD: wordpress
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost", "-u", "wordpress", "-pwordpress" ]
      timeout: 5s
      interval: 5s
      retries: 10
  redis:
    image: redis:3.2-alpine
    ports:
      - '6379'
  php:
    <<: *php
    image: ${PHP_IMAGE:-humanmade/altis-local-server-php:3.2.0}
  nginx:
    image: humanmade/altis-local-server-nginx:3.1.0
    networks:
      - proxy
      - default
    depends_on:
      - php
    volumes:
      - "${VOLUME}:/usr/src/app:delegated"
      - socket:/var/run/php-fpm
    ports:
      - "8080"
    labels:
      - "traefik.frontend.priority=1"
      - "traefik.port=8080"
      - "traefik.protocol=https"
      - "traefik.docker.network=proxy"
      - "traefik.frontend.rule=HostRegexp:${COMPOSE_PROJECT_NAME:-default}.altis.dev,{subdomain:[a-z._-]+}.${COMPOSE_PROJECT_NAME:-default}.altis.dev"
  xray:
    image: amazon/aws-xray-daemon:3.0.1
    ports:
      - "2000"
    environment:
      AWS_ACCESS_KEY_ID: YOUR_KEY_HERE
      AWS_SECRET_ACCESS_KEY: YOUR_SECRET_HERE
      AWS_REGION: us-east-1
  cavalcade:
    <<: *php
    entrypoint:
      - /usr/local/bin/cavalcade
    user: "nobody:nobody"
    restart: unless-stopped
  elasticsearch:
    image: humanmade/altis-local-server-elasticsearch:3.0.0
    ulimits:
      memlock:
        soft: -1
        hard: -1
    mem_limit: ${ES_MEM_LIMIT:-1g}
    volumes:
      - es-data:/usr/share/elasticsearch/data
    ports:
      - "9200"
    networks:
      - proxy
      - default
    healthcheck:
      test: ["CMD-SHELL", "curl --silent --fail localhost:9200/_cluster/health || exit 1"]
      interval: 5s
      timeout: 5s
      retries: 25
    labels:
      - "traefik.port=9200"
      - "traefik.protocol=http"
      - "traefik.docker.network=proxy"
      - "traefik.frontend.rule=HostRegexp:elasticsearch-${COMPOSE_PROJECT_NAME:-default}.altis.dev"
    environment:
      - http.max_content_length=10mb

      # Force ES into single-node mode (otherwise defaults to zen discovery as
      # network.host is set in the default config)
      - discovery.type=single-node

      # Reduce from default of 1GB of memory to 512MB
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
  s3:
    image: minio/minio:RELEASE.2020-03-19T21-49-00Z
    volumes:
      - "s3:/data:rw"
    ports:
      - "9000"
    networks:
      - proxy
      - default
    environment:
      MINIO_DOMAIN: s3.localhost,altis.dev,s3
      MINIO_REGION_NAME: us-east-1
      MINIO_ACCESS_KEY: admin
      MINIO_SECRET_KEY: password
    command: server /data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
    labels:
      - "traefik.port=9000"
      - "traefik.protocol=http"
      - "traefik.docker.network=proxy"
      - "traefik.frontend.rule=HostRegexp:s3-${COMPOSE_PROJECT_NAME:-default}.altis.dev"
  s3-sync-to-host:
    image: minio/mc:RELEASE.2020-03-14T01-23-37Z
    depends_on:
      - s3
    volumes:
      - "${PWD}/minio.json:/root/.mc/config.json"
      - "${VOLUME}/content/uploads:/content/uploads:delegated"
    links:
      - s3
    entrypoint: >
      /bin/sh -c "
      mc mb -p local/s3-${COMPOSE_PROJECT_NAME:-default}
      && mc policy set public local/s3-${COMPOSE_PROJECT_NAME:-default}
      && mc mirror --watch local/s3-${COMPOSE_PROJECT_NAME:-default} /content"
  tachyon:
    image: humanmade/tachyon:2.3.2
    ports:
      - "8080"
    networks:
      - proxy
    labels:
      - "traefik.port=8080"
      - "traefik.protocol=http"
      - "traefik.docker.network=proxy"
      - "traefik.frontend.rule=HostRegexp:${COMPOSE_PROJECT_NAME:-default}.altis.dev,{subdomain:[a-z.-_]+}.${COMPOSE_PROJECT_NAME:-default}.altis.dev;PathPrefix:/tachyon;ReplacePathRegex:^/tachyon/(.*) /uploads/$$1"
    environment:
      AWS_REGION: us-east-1
      AWS_S3_BUCKET: s3-${COMPOSE_PROJECT_NAME:-default}
      AWS_S3_ENDPOINT: https://altis.dev/
    external_links:
      - "proxy:s3-${COMPOSE_PROJECT_NAME:-default}.altis.dev"
  mailhog:
    image: mailhog/mailhog:latest
    ports:
      - "8025"
      - "1025"
    networks:
      - proxy
      - default
    labels:
      - "traefik.port=8025"
      - "traefik.protocol=http"
      - "traefik.docker.network=proxy"
      - "traefik.frontend.rule=Host:${COMPOSE_PROJECT_NAME:-default}.altis.dev;PathPrefix:/mailhog"
    environment:
      MH_UI_WEB_PATH: mailhog
  cognito:
    <<: *analytics
    image: humanmade/local-cognito:1.0.0
    labels:
      - "traefik.port=3000"
      - "traefik.protocol=http"
      - "traefik.docker.network=proxy"
      - "traefik.frontend.rule=Host:cognito-${COMPOSE_PROJECT_NAME:-default}.altis.dev"
  pinpoint:
    <<: *analytics
    image: humanmade/local-pinpoint:1.2.2
    labels:
      - "traefik.port=3000"
      - "traefik.protocol=http"
      - "traefik.docker.network=proxy"
      - "traefik.frontend.rule=Host:pinpoint-${COMPOSE_PROJECT_NAME:-default}.altis.dev"
    environment:
      INDEX_ROTATION: OneDay
  kibana:
    image: blacktop/kibana:6.3
    networks:
      - proxy
      - default
    ports:
      - "5601"
    labels:
      - "traefik.port=5601"
      - "traefik.protocol=http"
      - "traefik.docker.network=proxy"
      - "traefik.frontend.rule=Host:${COMPOSE_PROJECT_NAME:-default}.altis.dev;PathPrefix:/kibana"
    depends_on:
      elasticsearch:
        condition: service_healthy
    volumes:
      - ${PWD}/kibana.yml:/usr/share/kibana/config/kibana.yml

networks:
  default:
  proxy:
    external:
      name: proxy

volumes:
  db-data:
  es-data:
  tmp:
  s3:
  socket:
