services:
  proxy:
    networks:
      - proxy
    image: traefik:3.6.6
    container_name: altis-proxy
    mem_limit: 128m
    volumes:
      - "$PWD/altis/local-server/docker/conf/traefik.toml:/etc/traefik/traefik.toml"
      - "$PWD/altis/local-server/docker/conf/dynamic.toml:/etc/traefik/dynamic.toml"
      - "$PWD/ssl-cert.pem:/etc/traefik/ssl-cert.pem"
      - "$PWD/ssl-key.pem:/etc/traefik/ssl-key.pem"
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - '8080:8080'
      - '80:80'
      - '443:443'

networks:
  proxy:
    name: proxy
